<div class="conteudo-login">
    <ion-content>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col size-lg="5" size-md="6" size-xs="12" class="center-device">
            <div text-center>
              <img src="assets/images/logoCapptan.png" alt="logo" class="logo">
            </div>
            <div padding>
              <h3 class="m-b-5">Esqueçeu sua senha?</h3>
              <small>Informe seu e-mail e clique em recuperar senha</small>
  
              <input type="text" placeholder="E-mail" class="m-t-10">
  
  
            </div>
  
            <div padding>
              <ion-button size="large" expand="block" class="round" color="warning">Recupera senha</ion-button>                

              <div class="m-t-25 m-l-5 m-r-5">
                <a routerLink="/login" class="login">Login</a>
                <a routerLink="/register" class="criar-conta">Criar conta</a>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>