<ion-header>
  <ion-toolbar color="warning">
    <ion-title class="text-white">
      Pauta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-toolbar>
    <ion-title>{{ editando ? 'Edição de' : 'Inclusão de' }} Pauta</ion-title>
  </ion-toolbar>

  <form #pautaForm="ngForm">

    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input type="text" name="titulo" #titulo [(ngModel)]="pauta.titulo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Breve Descrição</ion-label>
      <ion-textarea type="text" name="descricao" #descricao [(ngModel)]="pauta.descricao" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Detalhes</ion-label>
      <ion-input type="text" name="detalhes" #detalhes [(ngModel)]="pauta.detalhes" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Autor</ion-label>
      <ion-input type="text" name="autor" #autor [(ngModel)]="pauta.autor" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-select placeholder="Selecione uma opção" name="status" #status [(ngModel)]="pauta.status" required>
        <ion-select-option value="ABERTO">Aberto</ion-select-option>
        <ion-select-option value="FECHADO">Fechado</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" class="m-t-15" color="secondary" [disabled]="!pautaForm.form.valid" (click)='salvar(pautaForm)'>Finalizar</ion-button>
    <ion-button expand="block" class="m-t-15" color="medium" (click)='nova()'>Limpar</ion-button>

  </form>

  <pre class="m-t-15">
    {{ pauta | json }}
  </pre>

</ion-content>