<div class="conteudo-login">
  <ion-content>
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col size-lg="5" size-md="6" size-xs="12" class="center-device">
          <div text-center>
            <img src="assets/images/logoCapptan.png" alt="logo" class="logo">
          </div>

          <form autocomplete="off" #f="ngForm">

            <div padding>

              <ion-text color="light" *ngIf="email.hasError('email') && email.dirty">
                <h4>O e-mail informado é inválido!</h4>
              </ion-text>

              <ion-text color="light" *ngIf="senha.value != confirmaSenha.value && confirmaSenha.dirty">
                <h4>A senha não confere!</h4>
              </ion-text>

              <input type="text" name="nome" #nome="ngModel" [(ngModel)]="usuario.name" placeholder="Nome completo" required>
                            
              <input type="text" name="email" #email="ngModel" [(ngModel)]="usuario.email" [email]="true" placeholder="E-mail" required>
              
              <input type="password" name="senha" #senha="ngModel" [(ngModel)]="usuario.password" placeholder="Senha" required>

              <input type="password" name="confirmaSenha" #confirmaSenha="ngModel" [(ngModel)]="usuario.confirmaSenha" placeholder="Confirme sua senha" required>

            </div>

            <div padding>
              <ion-button size="large" expand="block" class="round" color="warning" 
              [disabled]="!f.valid || senha.value != confirmaSenha.value"
              (click)="register(nome.value, email.value, senha.value, confirmaSenha.value);
              nome.value = ''; email.value = ''; senha.value = ''; confirmaSenha.value = '';">Criar minha conta</ion-button>

              <div class="m-t-25 m-l-5 m-r-5">
                <a routerLink="/login" class="login">Login</a>
                <a routerLink="/forgot" class="criar-conta">Recuperar senha</a>
              </div>
            </div>

          </form>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-content>
</div>